PORT=3000
APP_URL=http://localhost:3000

# Token de Mercado Pago (Obtenlo en https://www.mercadopago.com.ar/developers/panel)
# Para modo de pruebas puedes usar tu Access Token de Sandbox o de Producción.
# Si se deja en blanco o con el valor por defecto, el sistema funcionará en modo simulado para pruebas locales inmediatas.
MP_ACCESS_TOKEN=TU_MERCADO_PAGO_ACCESS_TOKEN
MP_CURRENCY_ID=ARS
